
.gallery_container .img-thumb{
    margin-bottom:2rem;
}

h4.modal-title{
    font-size:1.8rem;
    text-align:center;
    width: 100%;
    margin: 1rem auto;
}
button.close{
    background-color: #FFF !important;
}
button.close span{
    font-size:3.5rem !important;
}
@media screen and (min-width:1280px) {

    .gallery_container {
        min-width: 1200px !important;
    }
}
